body {
    font-family: 'Roboto', sans-serif;
}

.hero-cta, .menu-button {
    cursor: pointer;
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--iris, #4D5AE5);
}

.main-header-menu-item{
    list-style-type: none;
}

.main-header-menu-link {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--navyblue, #2E2F42);
}

.main-header-menu-link:hover, .main-header-menu-link:focus{
    color: var(--ocean, #404BBF);
}

.main-header-link {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--navyblue, #2E2F42);
}

.main-header-address{
    list-style-type: none;
}

.main-header-address-link:hover, .main-header-address-link:focus{
    color: var(--ocean, #404BBF);
}

.main-header-address-link{
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slate, #434455);
}


.hero{
    background: var(--navyblue, #2E2F42)
}

.hero-cta{
    text-transform: capitalize;
}

.hero-cta:hover, .hero-cta:focus{
    color: var(--ocean, #404BBF);
    background: var(--cloud, #F4F4FD);
}

.hero-header{
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-align: center;
    color: var(--white, #FFF);
}

.hero-cta{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--white, #FFF);
    letter-spacing: 0.64px;
    background-color: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(77, 90, 229, 1);
    border-radius: 4px;
}

pre {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
      
    letter-spacing: 0.32px;
}

.section-one-item{
    list-style-type: none;
}

.section-two-header {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.section-two-item {
    list-style-type: none;
}

.section-three {
    background: var(--cloud, #F4F4FD);
}

.section-three-header {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-three-item {
    list-style: none;
}

.section-three-item-header {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
}

.section-three-item-description {
    color: var(--slate, #434455);
    text-align: center; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer-section{
    background: var(--navyblue, #2E2F42);
}

.footer{
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--cloud, #F4F4FD);
}

.footer-description {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.menu_buttons{
    list-style-type: none;
}

.menu-button:hover, .menu-button:focus{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    border: 1px solid rgba(77, 90, 229, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.menu-button{
    color: var(--iris, #4D5AE5);
    font-family: Roboto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}
.section-one-portfolio-item{
    list-style-type: none;
}

.section-one-portfolio-header{
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.section-one-portfolio-description{
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}